@import "tailwindcss";
@import "tailwindcss-animated";

@theme {
    /* colors */
    --color-primary: #FFF0D9ff;
    --color-secondary: #2A5453ff;
    --color-text-primary:  #493729ff;

    /* fonts */
    --font-primary: "Cavolini", "San Serif", "Times New Roman", serif;
}

@font-face {
    font-family: 'Kalam';
    font-style: normal;
    font-weight: 200 700;
    font-display: swap;
}


